html,
body {
  background: #e0ebe8;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #aed581;
  width: 100%;
  height: 100px;
}

nav ul {
  text-align: right;
  background-color: light green;
}

nav ul li {
  display: inline-block;
  margin: 40px;
}

nav ul li a {
  color: #008080;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  color: green;
}

.intro {
  display: block;
  margin: 50px auto;
  background: #e0ebe8;
  min-height: 75vh;
  width: 70%;
  min-width: 200px;
}

.intro p {
  padding: 15px;
  border: 2px solid lightblue;
  border-radius: 10px;
  background: light blue;
  font-size: 20px;
  text-align: justify;
  line-height: 6vh;
}
.skillset {
  display: block;
  margin: 50px auto;
  width: 70%;
  min-width: 200px;
}
.skill-header {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 20px;
}

.skill-content {
  background-color: lightblue;
  color: white;
  font-size: 25px;
  text-align: left;
  text-decoration: none;
  padding: 20px 20px 20px 50px;
  line-height: 10vh;
}
.proj {
  margin: 30px 100px;
}

.proj .proj-header {
  margin-top: 70px;
  font-weight: bold;
  font-size: 38px;
  padding: 10px;
}

.project {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
  height: 220px;
  width: 280px;
  margin: 30px 100px;
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid lightblue;
}

.project-title {
  font-weight: bold;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin: 20px auto;
  background: #e0ebe8;
  color: #008080;
  font-weight: bold;
  font-size: 1.2em;
  border: 2px solid #90c695;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
}

.show-all:hover {
  background: #e4f1fe;
  color: green;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

.contact {
  background: light blue;
  padding-bottom: 30px;
}

.header {
  padding: 20px 0;
}

.contact-details {
  display: inline-block;
  margin: 25px 25px 25px 25px;
  list-style-type: none;
  border: 2px solid #90c695;
  border-radius: 10%;
  width: 150px;
  height: 50px;
  line-height: 45px;
  background: #e0ebe8;
  font-weight: bold;
  font-size: 20px;
  color: #008080;
  text-decoration: none;
}

.contact-details:hover {
  background: #e4f1fe;
  color: green;
}

footer {
  padding-top: 30px;
  background: #aed581;
  color: white;
  line-height: 30px;
  height: 70px;
}

footer a {
  color: white;
}
